<!DOCTYPE html>
<html>
<head>
	<title></title>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width,
  initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="css/all.css" >
  <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body>
<div id='phoneapp'>
	<div class="container-fluid">
				<div class="col-lg-12">
					<p class="text-center text-bg display-4 pt-2" style="font-size: : 25px">Phone Book</p>	
				</div>
			
		</div>
	<div class ="row">
							<div class="col-lg-12">
		  <table class="text-center table-bordered"style="  
													position: fixed;
													left: 40%;
													height: 0%;
													width: 40%;">
   <tr class="text-light bg-dark">
     <th>Name</th>
     <th>Phone</th>
     <th>Action</th>
        </tr>
   <tr v-for='(user,index) in users'>
     <td><input type='text' v-model='user.name' ></td>
     <td><input type='text' v-model='user.phone' ></td>
     <td><input type='button' value='Update' @click='updateRecord(index,user.id);'>&nbsp;
     <input type='button' value='Delete' @click='deleteRecord(index,user.id)'></td>
   </tr>
  </table>
 </div>
</div>
<form>
		 	<div class="modal-dialog"style="
		 	position: absolute;
		 	left: 15%;">
		 		<div class="modal-content">
		 			<div class="modal-header">
		 				<h5 class="modal-title"style="
						position: absolute;
						left: 20%;">Add New Contact</h5>
		 				<button type="button" class="close">
		 					<span aria-hidden="true">&times; </span>
		 				</button>
		 			</div>
		 			<div class="modal-body p-4">
								   <tr>
								 <div class="form-group">
								     <td><input type='text' v-model='name'class="form-control form-control-lg" placeholder="Name"></td>
								  </div>
								   <div class="form-group">
								     <td><input type='number' v-model='phone'class="form-control form-control-lg" placeholder="Phone"></td>
								 </div>
								     <div class="form-group">
								     <td><input type='button' value='Add'class="btn btn-info btn-block btn-lg " @click='addRecord();'></td>
								 </div>
								   </tr>

								</div>
										 		</div>
										 	</div>
</form>
</div>
</body>
<script src="vue.min.js"></script>
<script src="axios.min.js"></script>
<script type="text/javascript" src="scripted.js"></script>
</html>